* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Lato", sans-serif;
}



.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(0, 160, 61);
    padding: 40px 0;
}

.dark{
    display: flex;
}

.hide {
    opacity: 0;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2; /* Alterado para 2 para ficar acima do botão */
    top: 0;
    left: 0;
    background-color: #06b983;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #4b4b4b;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #005828;
    color: white;
    padding: 10px 15px;
    border: none;
    z-index: 3; /* Alterado para 3 para ficar acima do menu */
    top: 15px; /* Adicionado para posicionar o botão corretamente */
    left: 10px; /* Adicionado para posicionar o botão corretamente */
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

body.dark-mode {
    background-color: #222;
    color: #FFF;
}

.header.dark-mode {
    background-color: #333;
}

.sidebar.dark-mode {
    background-color: #333;
}

.sidebar.dark-mode a {
    color: #FFF;
}

.openbtn.dark-mode {
    background-color: #444;
}

.container {
    display: flex;

    height: 100vh;
}


/* ---------------------------------------------------------------------------------------- */

.cabeçalhoDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
    height: 100px;
}
.containercabelhacocontent {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0 20px;
    flex-direction: column;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cabeçalho-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
}

.cabeçalho-link a {
    color: rgb(0, 182, 0);
    font-size: 16px;
}

.logo {
    height: 80px;
    width: 80px;
    background-color: rgb(0, 255, 64);
    border-radius: 50%;
    cursor: pointer;
}

button {
    color: rgb(32, 34, 33);
    background: transparent;
    border: solid 2px rgb(107, 112, 108);
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(50, 53, 51);
    color: rgb(185, 187, 185);
    transition: 0.5s;
}

.container-text {
    padding: 150px 0 0 130px;
}

/* ---------------------------------------------------------------------------------------- */
.plantas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.imagem {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.imagem img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.planta {
    width: 250px;
    border-radius: 15px;
    cursor: pointer;
}

.hidePage {
    display: none;
}

.plantaClicada{
    width: 100%;
    height: 100%;
}

.plantaClicadaPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.planta-img{
    width: 500px;
    height: 500px;
    border-radius: 15px;
}

.planta-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}

.planta-info h2{
    font-size: 30px;
}
.planta-info p{
    font-size: 17px;
}

.planta-info p strong{
    font-size: 20px;
}

