.first-color { 
	background: #93e4c1; 
}
	
.second-color { 
	background: #3baea0; 
}

.third-color { 
	background: #118a7e; 
}

.fourth-color { 
	background: #1f6f78; 
}


body, html {
    margin: 0;
    padding: 0;
}

header {
    width: 200px; /* Largura do cabeçalho */
    background-color: #ccc;
    padding: 20px;
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3baea0;
    padding-top: 20px;
}

.sidebar h1 {
    color: #fff;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

ul li a:hover {
    opacity: 50%;
}

ul li a:active {
    opacity: 20%;
}

.content {
    flex: 1;
    padding: 20px;
}